<section class="libros">
  <h1 class="libros__titulo">Libros</h1>

  <div class="libros__agregar">
    <%= link_to 'Agregar libro', new_libro_path %>
  </div>

  <div class="libros__carts">
    <% @libros.each do |libro| %>
      <%= render "cart", libro: libro, show_link: true %>
    <% end %>
  </div>
</section>